@{
    ViewData["Title"] = "Welcome";
}

<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>
        All this content is just a place holder for something bigger, better and far more awesome! Just
        wait an see! You'll love everything that is coming!
    </p>
    <p><a class="btn btn-primary btn-lg" href="http://dotnetdevaddict.co.za" role="button">My Blog &raquo;</a></p>
</div>
